<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="StealMEEntities" connectionString="metadata=res://*/DAL.stealme_db.csdl|res://*/DAL.stealme_db.ssdl|res://*/DAL.stealme_db.msl;provider=System.Data.SqlClient;provider connection string='data source=localhost;initial catalog=StealME;integrated security=True;multipleactiveresultsets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>